<div class="flex flex-col text-center h-full px-3 pb-4 py-3  bg-gray-600 w-16 dark:bg-gray-800 gap-4">
  <div class="flex justify-center">
    <img
    routerLink="profile" routerLinkActive="active"
    class="w-8 h-8 rounded-full"
    src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
    alt="user photo"
  />
  </div>
  <ul class="space-y-2 font-medium">
    <li>
      <a
        href="#"
        class="flex items-center justify-center p-1 text-gray-900 rounded-full dark:text-gray-500 hover:bg-gray-500 dark:hover:bg-gray-700 group"
      >
        <i class="bx bxs-message-detail text-2xl text-white"></i>
      </a>
    </li>
    <li>
      <a
        routerLink="user-settings" routerLinkActive="active"
        href="#"
        class="flex items-center justify-center p-1 text-gray-900 rounded-full dark:text-gray-500 hover:bg-gray-500 dark:hover:bg-gray-700 group"
      >
        <i class="bx bx-cog text-2xl text-white"></i>
      </a>
    </li>
  </ul>
</div>
