<article class="pl-5 mt-5">
  <nav *ngIf="showReturnToConfigBtn" class="inline-flex">
    <button routerLink="/user-settings" routerLinkActive="active"><mat-icon class="text-[#8796A1]">arrow_back</mat-icon></button>
    <h1 class="text-white ml-10">Profile</h1>
  </nav>
  <header *ngIf="!showReturnToConfigBtn">
    <h1 class="text-white text-2xl">Profile</h1>
  </header>
  <section class="mt-10 flex">
    <figure class="m-auto">
      <button>
        <img class="w-[200px] h-[200px] rounded-full" src="assets/img/me.png" alt="user photo" />
      </button>
    </figure>
  </section>
  <section class="grid mt-[15%]">
    <div>
      <p class="text-[#008069]">Your name</p>
    </div>
    <div class="mt-4 grid grid-cols-12 text-white">
      <p class="col-span-10">.</p>
      <button><mat-icon class="text-lg col-span-2 ml-4">edit</mat-icon></button>
    </div>
    <div class="mt-[15%]">
      <p class="text-[#008069]">About</p>
    </div>
    <div class="mt-4 text-white grid grid-cols-12">
      <p class="col-span-10">𒌐</p>
      <button><mat-icon class="text-lg col-span-2 ml-4">edit</mat-icon></button>
    </div>
  </section>
</article>
