<section class="pl-5 mt-5">
  <header>
    <h1 class="text-white text-2xl">Setting</h1>
  </header>
  <section class="mt-5">
    <div class="w-[95%] h-[35px] m-0 flex content-center bg-[#202C33] rounded-md text-[#8697A1]">
      <mat-icon class="text-lg mt-1 ml-4">search</mat-icon>
      <p class="mt-[5px] ml-5">Search settings</p>
    </div>
  </section>

  <nav class="mt-1">
    <ul class="text-white text-xl">
      <li class="hover:bg-[#233039] w-auto -ml-5 pl-5 pr-5 cursor-pointer py-2">
        <figure class="flex">
          <img class="w-[82px] h-[82px] rounded-full" src="assets/img/me.png"
            alt="user photo" />
          <div class="block mt-5 ml-4">
            <div class="text-white">
              <p>.</p>
            </div>
            <div class="text-[#aebac1]">
              <p>𒌐</p>
            </div>
          </div>
        </figure>
      </li>
      <li class="hover:bg-[#233039] w-auto -ml-5 pl-5 pr-5 cursor-pointer py-5 relative underline-row">
        <div class="flex">
          <mat-icon class="text-lg mt-2 ml-4">lock</mat-icon>
          <h1 class="mt-2 ml-5">Privacy</h1>
        </div>
      </li>
      <li class="hover:bg-[#233039] w-auto -ml-5 pl-5 pr-5 cursor-pointer py-5 relative underline-row">
        <div class="flex">
          <mat-icon class="text-lg mt-2 ml-4">chat</mat-icon>
          <h1 class="mt-2 ml-5">Chats</h1>
        </div>
      </li>
      <li class="hover:bg-[#233039] w-auto -ml-5 pl-5 pr-5 cursor-pointer py-5 relative underline-row">
        <div class="flex">
          <mat-icon class="text-lg mt-2 ml-4">notifications</mat-icon>
          <h1 class="mt-2 ml-5">Notifications</h1>
        </div>
      </li>
      <li class="hover:bg-[#233039] w-auto -ml-5 pl-5 pr-5 cursor-pointer py-5 relative underline-row">
        <div class="flex">
          <mat-icon class="text-lg mt-2 ml-4">keyboard</mat-icon>
          <h1 class="mt-2 ml-5">Keyboard shortcuts</h1>
        </div>
      </li>
      <li class="hover:bg-[#233039] w-auto -ml-5 pl-5 pr-5 cursor-pointer py-5 relative underline-row">
        <div class="flex">
          <mat-icon class="text-lg mt-2 ml-4">help</mat-icon>
          <h1 class="mt-2 ml-5">Help</h1>
        </div>
      </li>
      <li class="hover:bg-[#233039] text-red-400 w-auto -ml-5 pl-5 pr-5 cursor-pointer py-5 relative underline-row">
        <div class="flex">
          <mat-icon class="text-lg mt-2 ml-4">logout</mat-icon>
          <h1 class="mt-2 ml-5">Log out</h1>
        </div>
      </li>
    </ul>

  </nav>
</section>
